* { color: palevioletred;
    font-family:'Roboto', sans-serif;
}
p, span { 
    border: green;
    border-width: 2px 8px;
    border-style: groove;
    color: black;
    
}
/**
esto es un comentario dentro de CSS
*/
section {
    border: 25px solid green;
    padding: 50px;
    margin: 20px;
    width: 500px; 

    font-weight: bold;
    color: black;

}

h1{ 
    border: 10px solid green;
    width: fit-content;
    border-radius: 5px;
    padding: 2px;
    color: black; 
}

li{
    list-style: none;
}

#Compras{ 
    color: deeppink;
    font-size: 20px;
    border-top-left-radius: 5px solid white;

}

.mipaginadeproductosCBD {
    color: aqua;
    font-weight: bold;
}